@model IEnumerable<ERP_Web_App.Models.Source>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMEI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMEI2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @*            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMEI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMEI2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SourceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SourceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SourceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
